<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>TH-news ก็แค่สำนักข่าวธรรมดา สำนักหนึ่ง</title>
    <meta name="description" content="ก็แค่เว็บสำนักข่าวธรรมดา สำนักหนึ่ง"/>
    <link rel="canonical" href="http://th-news.ml/">
    <meta property="og:title" content="สำนักข่าว TH-news"/>
    <meta property="og:url" content="http://th-news.ml/" />
    <meta property="og:image" content="https://static.th-news.ml/traped.png" />
    <meta property="og:site_name" content="TH-news.ml" />
    <meta property="og:description" content="ก็แค่เว็บสำนักข่าวธรรมดา สำนักหนึ่ง" />
    <meta property="fb:app_id" content="855068644539368" />
    <meta name="twitter:title" content="สำนักข่าว TH-news" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image:src" content="https://static.th-news.ml/traped.png" />
    <meta name="twitter:site" content="@THnews_ml" />
    <meta name="twitter:creator" content="@THnews_ml" />
    <meta name="twitter:domain" content="th-news.ml" />
    <meta name="twitter:description" content="ก็แค่เว็บสำนักข่าวธรรมดา สำนักหนึ่ง" />
    <meta name="twitter:url" content="http://th-news.ml" />
    <style>
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">สำนักข่าว TH-News</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.pureapp.in.th/p/april.html">สร้างข่าวปลอม</a></li>
            <li><a href="https://www.pureapp.in.th/2015/03/april-fool-day.html">ที่มาของเว็บนี้</a></li>
            <li><a href="https://www.pureapp.in.th/p/term-thnews.html">เงื่อนไขในการใช้งาน</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <center>
        <img src="https://static.th-news.ml/traped.png" class="img-responsive" width="300" height="300"/>
        <h1>404 Not Found</h1>
        <h3>เราหาข่าวที่คุณต้องการไม่พบ</h3>
         <a href="https://www.pureapp.in.th/p/april.html" class="btn btn-primary">สร้างข่าวปลอมใหม่</a>
      </center>
    </div>
  </body>
</html>
